.categorias-container{
    position: absolute;
    right: 10%;
    top: 25%;
    width: 70%;
}
.categorias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 1vh 2vh;
    gap: 2rem 1rem;
}
.titulo-inicio-1{
    width: 100%;
    position: fixed;
    background-color: #fff;
    font-size: 2.1rem;
    padding: 1vh 0;
    font-family: 'Outfit', sans-serif;
    z-index: 5;
}
.categoria-contenedor{
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.categoria{
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 90%;
}
.btn-categoria{
    width: 100%;
    border-radius: 10px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding: 2vh 2vh;
    cursor: pointer;
    transition: 0.5s ease;
    font-family: 'Sour Gummy', sans-serif;
    text-decoration: none;
    font-size: 1.7rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* sombra suave */
}
.titulo-categoria a {
    text-decoration: none;
    color: inherit; /* Opcional: mantiene el color del contenedor */
}
.titulo-categoria{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.btn-categoria:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
}
/* Telefonos */
@media (max-width: 750px) {
    .categorias-container{
        width: 100%;
        display: flex;
        justify-content: center;
        right: 0;
        top: 30%;
    }
    .categorias{
        width: 95%;
        grid-template-columns: 1fr;
    }
    .categoria-contenedor{
        align-items: center;
    }
    .categoria{
        align-items: center;
        width: 100%;
    }
    .titulo-inicio-1{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: -6vh 0 2vh 0;
    }
}
@media (min-width: 751px) and (max-width: 900px){
    .categorias{
        grid-template-columns: 1fr 1fr;
    }
    .titulo-inicio-1{
        width: 100%;
        margin: -10vh 0 2vh 0;
    }
}
/* Tablets / iPads vertical */
@media (min-width: 901px) and (max-width: 1324px) {
    .categorias-container{
        top: 20%;
    }
    .categorias{
        grid-template-columns: repeat(2, 1fr);
    }
    .categoria-contenedor{
        align-items: center;
    }
    .categoria{
        align-items: center;
        width: 90%;
    }
    .titulo-inicio-1{
        margin: -4.5vh 0 2vh 0;
    }
}
/* Laptops pequeñas */
@media (min-width: 1325px) and (max-width: 1480px) {
    .titulo-inicio-1{
        margin: -8vh 0 2vh 0;
    }
}
@media (min-width: 1481px){
    .titulo-inicio-1{
        margin: -9vh 0 2vh 0;
    }
}