.detalle-container{
    width: 100%;
    height: 100%;
}
.container-detalle-inner{
    position: absolute;
    font-family: "Poppins", sans-serif;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 95%;
    padding: 2vh 1vh;
    display: flex;
    flex-direction: column;
}
/*-----------Superior--------------*/
.container-up{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
}
.container-left-up{
    width: 50%;
    height: 100%;
    display: flex;
    padding: 2vh;
}
.container-right-up{
    width: 50%;
    height: 100%;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.detalle-container-imagen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.detalle-container-imagen img{
    height: 100%;
    aspect-ratio: 1.5/2;
    object-fit: contain;
}
.detalle-container-titulo h1{
    font-size: 6vh;
    font-weight: 600;
}
.detalle-container-autor h1{
    font-size: 4vh;
    font-weight: 500;
}
/*-----------Inferior--------------*/
.container-down{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}
.container-left-down{
    width: 50%;
    height: 100%;
    display: flex;
    padding: 3vh;
}
.container-right-down{
    width: 50%;
    height: 100%;
    padding: 3vh;
}
.detalle-container-descripcion h1{
    font-size: 3.2vh;
    font-weight: 600;
}
.detalle-container-descripcion h2{
    font-size: 3vh;
    font-weight: 500;
}
.detalle-container-categoria ul{
    list-style: none;
}
.detalle-container-categoria ul li{
  list-style-type: none;
}
.detalle-container-rate{
    display: flex;
    align-items: end;
    h1{
        font-size: 3.2vh;
    font-weight: 600;
    }
}
.detalle-container-categoria h1{
    font-size: 3.2vh;
    font-weight: 600;
}
.detalle-container-categoria h1{
    font-size: 3.2vh;
    font-weight: 600;
}
.detalle-container-categoria ul .item-categoria{
    font-size: 2.5vh;
    margin: 1vh;
}
