.container-recomendado{
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 280px; /* texto e imagen */
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  background: #dfdedd;
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: 0 7px 23px rgba(0,0,0,0.09);
}
.container-recomendado div{
  padding: 3vh;
}

.container-recomendado div h2{
  color: #000;
  font-size: 1.7rem;
  margin: 0 1vh 1rem 0;
  line-height: 1.2;
}
.star-rec{
  color: #e0951c;
}
.container-recomendado p{
  margin: 0;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  font-size: 1.1rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container-recomendado img{
  width: 100%;
  height: 280px;
  object-fit: contain;
  border-radius: 8px;
  background: transparent;
}

@media (max-width: 768px){
  .container-recomendado{
    grid-template-columns: 1fr;
  }
  .container-recomendado img{
    height: 220px;
    order: -1;
  }
}
