<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Confirmación de compra</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #d2d0d0b6; padding: 20px;">
  <table style="max-width: 600px; margin: auto; background: #0c050d95; padding: 20px; border-radius: 8px;">
    <tr>
      <td style="text-align: center;">
  <!-- Imagen eliminada a petición: algunos clientes la bloqueaban -->
        <h2 style="color: #cebfd1;">¡Gracias por tu compra, {{nombre}}!</h2>
        <p style="color: #333;">Estos son los detalles de tu pedido:</p>
      </td>
    </tr>
    <tr>
      <td>
        <table width="100%" style="border-collapse: collapse; margin-top: 15px;">
          <thead>
            <tr style="background: #65067d; color: white;">
              <th style="padding: 10px;">Libro</th>
              <th style="padding: 10px;">Cantidad</th>
              <th style="padding: 10px;">Precio</th>
              <th style="padding: 10px;">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for l in libros %}
            <tr style="border-bottom:1px solid #eee;">
              <td style="padding:10px; color:#333;">{{ l.titulo }}</td>
              <td style="padding:10px; color:#333; text-align:center;">{{ l.cantidad }}</td>
              <td style="padding:10px; color:#333; text-align:center;">${{ l.precio }}</td>
              <td style="padding:10px; color:#333; text-align:center;">${{ l.total }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <p style="text-align: right; margin-top: 20px; font-size: 18px;">
          <strong>Total: ${{total}}</strong>
        </p>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-top: 20px;">
        <p style="color: #000000;">Gracias por comprar en <strong>Verne Learning</strong> 📚</p>
        <h5 style="text-align: center; color: #323131;">Sitio con fines académicos, no se ejecutó ningun pedido real.</h5>
        <a href="https://paolacortezeducacion.com/">Visitame en:https://paolacortezeducacion.com/</a>
      </td>
    </tr>
  </table>
  
</body>
</html>
